
/* body and misc styles */


.jumbotron {
    width: 100%;
    background-color: white;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    /* align-items: center; */
}

#logo-header {
    justify-self: start;
    align-self: start;
}

#subtitle {
    background-color: #0094e9;
    margin: 0px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgb(112, 112, 112);
}

.container {
    padding: 0px;
    margin: 0px;

}

.navbar {
    padding: 10px;
    margin-right: 0px;
    background-color: white;
    justify-content: end;

}

#nav-container {
    align-self: end;
    justify-self: end;
    width: 50%;
    margin-bottom: 0px;
}
#card-header {
    background-color: rgb(235, 235, 235);
    margin: 0px;
    text-align: center;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}


body {
    height: 100%;
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.ordering {
    margin: 10px;
    background-color: white;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
}

.card {
    margin: 5px;
    width: 100%;
}

.btn {
    
    font-weight: bold;
}

#card-content {
    padding: 10px;
}

header {
    margin-bottom: 0px;
}


.card-body {
    font-family: 'Raleway', sans-serif;
}

#order-card {
    border: none;
}

.row {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}