:root {
    --font-color-headers: #ffffff;
    --font-color-content: #000000;
    --shadow-color: #000000;
    --border-color: #000000;
}

/* body and misc styles */

.jumbotron {
    width: 100%;
    background-color: white;

    margin: 0px;
    /* align-items: center; */
}

#logo-header {
    justify-self: start;
    align-self: start;
}

#subtitle {
    background-color: #0094e9;
    margin: 0px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgb(112, 112, 112);
}

.container {
    padding: 0px;
    margin: 0px;

}

.navbar {
    padding: 10px;
    margin-right: 0px;
    background-color: white;
    justify-content: end;

}

#nav-container {
    align-self: end;
    justify-self: end;
    width: 50%;
    margin-bottom: 0px;
}
#card-header {
    background-color: yellow;
}

body {
    height: 100%;
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.ordering {
    margin: 10px;
    background-color: white;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: lightgrey;
}

.card {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

#card-header {
    border: 1px solid darkgray;
    margin: 10px;
    padding: 10px;
}

header {
    margin-bottom: 0px;
}