:root {
    --font-color-headers: #ffffff;
    --font-color-content: #000000;
    --shadow-color: #000000;
    --border-color: #000000;
}

/* body and misc styles */

body {
    height: 100%;
    background-color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--font-color-headers);
}

/* header and navigation */

header {
    shape-image-threshold: inherit;
    height: auto;
    width:auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

header .header-space{
    background-color: #0094e9;
}

nav {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-content: center;
    color: white;
    flex: 75%;
    background-color: #0094e9;
}

.nav-button {
    padding: 20px;
    background-color: #0094e9;
}

.nav-button:hover {
    text-shadow: 1px 1px 3px grey;
}

nav a:link, nav a:visited {
    text-decoration: none;
    font-size: 150%;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.logo-container {
    background-color: white;
    text-align: end;
    flex: 100%;
    background-color: yellow;
    height: 100px;
}

.northwest-container {
    text-align: start;
    background-color: white;
    

}



/* Formatting */

.top-bottom-space {
    height: 50px;
}




/* Footer */

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-sohail-na-807598.jpg);
    background-size: cover;
    height: auto;
    padding: 25px;
    align-content: center;
    color: var(--font-color-headers);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer a:visited, footer a:link {
    color: lightgreen;
}

footer a:hover {
    color: white;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
    header, nav, .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
    .name {
        order: 1;
        width: 100%;
    }
    .morganphoto {
        order: 2;
        width: 100%
    }
    header nav {
        width: 100%;
        order: 3;
    }
    aside {
        order: 1;
        width: 100%;
        text-decoration: underline;
        border-right: 0;
    }
    .content {
        order: 2;
        width: 100%;
    }
    .work-content li {
        flex: 100%;
    }